:root {
  --light-orange-color: #F58549;
  --dark-orange-color: #C16C3E;
  --white-color: #F9F5EF;
  --darker-white-color: #EADFD8;
  --dark-color: #212939;
  --dark-grey-color: #4A4B4E;
  --medium-grey-color: #727478;
  --light-grey-color: #A69C95;
  --black-color: #000000;
  --light-blue: #2199e8;
  --bg-color-config: rgba(42, 45, 60, 0.9);
}