@media only screen and (max-width: 1150px) {
  #navContainer {
    padding-left: 20px;
    padding-right: 20px;
    a h3 {
      font-size: 18px;
    }
  }
}

@media only screen and (max-width: 900px) {
  /* Make navigation bar mobile friendly */
  #navContainer {
    width: 100%;
    position: static;
    left: 0;
    transform: none;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    background: #F58549;
    overflow: hidden;
    a h3 {
      font-size: 30px;
      padding-bottom: 10px;
      font-weight: bold;
    }
  }
  .nav-separator, .navLink, #mlh-trust-badge {
    display: none;
  }
  #terrierLogo {
    margin-top: 50px;
  }
  #nav--burger {
    display: inline;
    outline: none;
  }
  .navLinks {
    margin-left: 18px;
  }
  /* Stack buttons for horizontal space */
  #attendButton, #sponsorButton {
    float: none;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
}