<link rel="stylesheet" href="/css/halloween.css">
<div id="icon-ghost" class="medium-item large">
  <svg class="large" viewBox="0 0 225 300">
    <% include ./ghost %>
  </svg>
</div>
<div id="icon-ghost" class="slow-item small">
  <svg class="small" viewBox="0 0 225 300">
    <% include ./ghost %>
  </svg>
</div>
<div id="icon-ghost" class="fast-item medium">
  <svg class="medium" viewBox="0 0 225 300">
    <% include ./ghost %>
  </svg>
</div>
<div id="icon-ghost" class="medium-item xs-small">
  <svg class="xs-small" viewBox="0 0 225 300">
    <% include ./ghost %>
  </svg>
</div>
<div id="icon-ghost" class="medium-fast-item small">
  <svg class="small" viewBox="0 0 225 300">
    <% include ./ghost %>
  </svg>
</div>
<div id="icon-ghost" class="medium-item small">
  <svg class="large" viewBox="0 0 225 300">
    <% include ./ghost %>
  </svg>
</div>