<!-- views/partials/head.ejs -->

<meta charset="UTF-8">
<title>Bostonhacks</title>

<meta charset="utf-8">
<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>BostonHacks - March 3rd</title>


<!-- Stylesheets -->
<link rel="stylesheet" href="css/foundation.css">
<link rel="stylesheet" href="css/app.css">
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">