<div class="large-12 columns text-center" id="profile-footer">
    <h3> Join us on Social Media! </h3>
    <div class="social-media-icons">
        <a href="https://www.facebook.com/bostonhacks/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a href="https://twitter.com/boston_hacks"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
    </div>
</div>