<div id="profile-nav">
    
    <div class="profile-nav-left">    
      <a href="/home" class="btn btn-default btn-sm">        
        <span class="profile-nav-text"><h2>Boston<span style="font-weight:500;">Hacks</span></h2></span>
      </a>
    </div>  
    <div class="profile-nav-right">
        <a href="/logout" class="btn btn-default btn-sm">
        	<span class="profile-nav-text"><h2>Logout</h2></span>
        </a>
    </div>
 </div>