<div id="navContainer">
    <a href="/home">
        <div class="profile-nav-left">
            <img src="img/white-terrierLogo.png" class="profile-nav-terrier">
            <h2>Boston<b>Hacks</b></h2>
        </div>
    </a>    
    <div class="profile-nav-right">
        <a href="/logout" class="btn btn-default btn-sm"><h2>Logout</h2></a>
    </div>
 </div>