<div id="profile-nav">
    <a href="/home">
        <div class="profile-nav-left">            
            <span class="profile-nav-text"><h2>Boston<b>Hacks</b></h2></span>
        </div>
    </a>    
    <div class="profile-nav-right">
        <a href="/logout" class="btn btn-default btn-sm">
        	<span class="profile-nav-text"><h2>Logout</h2></span>
        </a>
    </div>
 </div>