
<title>Group</title>
<desc>Created with Sketch.</desc>
<defs></defs>
<g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
  <g id="Desktop-HD" transform="translate(-104.000000, -1649.000000)">
    <g id="Group" transform="translate(104.000000, 1649.000000)">
        <path d="M141.462188,53.5134147 C141.462188,53.5134147 142.26882,11.179997 159.631933,0.366838405 C160.130733,0.0562023686 180.395817,8.06213309 180.395817,8.06213309 C180.395817,8.06213309 165.594539,20.1606109 165.594538,28.0086188 C165.594537,35.8566268 165.507414,55.0072484 165.507414,55.0072484 L141.462188,53.5134147 Z" id="Path-15" fill="#784421"></path>
        <path d="M0.242407194,148.318939 C-5.58216657,226.710199 95.0541715,273.682199 140.972833,245.891731 C201.20544,268.223564 283.833235,254.878415 295.7451,163.564208 C307.656964,72.2500016 231.836646,54.6472634 220.91704,49.6061795 C209.997434,44.5650956 166.354187,44.3563223 151.388098,51.0159937 C138.465195,44.3563224 123.229346,39.1322684 92.4104787,41.6399081 C61.5916111,44.1475477 6.06698096,69.9276785 0.242407194,148.318939 Z" id="Path-9" fill="#FF6600"></path>
        <path d="M112.781005,55.9622688 C112.781005,55.9622688 60.3001424,93.578845 60.3001428,148.742229 C60.3001432,203.905614 80.6813413,236.889992 80.6813413,236.889992 C80.6813413,236.889992 32.8039561,186.687939 41.0845623,136.173896 C49.3651684,85.6598529 112.781005,55.9622688 112.781005,55.9622688 Z" id="Path-10" fill="#D45500"></path>
        <path d="M69.9728522,58.1274244 C69.9728522,58.1274244 12.6487825,78.8484937 8.61895669,136.485885 C4.58913091,194.123275 38.9064584,218.362761 38.9064584,218.362761 C38.9064584,218.362761 14.278326,177.992175 22.3994184,131.735724 C30.5205109,85.4792721 69.9728522,58.1274244 69.9728522,58.1274244 Z" id="Path-11" fill="#D45500"></path>
        <path d="M133.57166,68.1063757 C133.57166,68.1063757 112.16618,111.439445 109.692256,151.831985 C107.218332,192.224525 123.515298,235.557589 123.515298,235.557589 C123.515298,235.557589 118.627625,192.75907 121.319104,151.831985 C124.010583,110.904899 133.57166,68.1063757 133.57166,68.1063757 Z" id="Path-12" fill="#D45500"></path>
        <path d="M215.974395,165.699469 C215.974392,206.038994 201.830538,238.223085 199.253703,239.89854 C196.676867,241.573995 234.566881,225.736808 234.566885,169.28809 C234.56689,112.839373 161.330409,58.5334376 161.330409,58.5334376 C161.330409,58.5334376 215.974397,125.359943 215.974395,165.699469 Z" id="Path-13" fill="#D45500"></path>
        <path d="M202.807158,54.3433702 C202.807158,54.3433702 262.865755,107.276277 262.865756,156.836529 C262.865757,206.396782 241.520429,232.568816 241.520429,232.568816 C241.520429,232.568816 280.294466,206.551622 283.211311,153.099325 C286.128157,99.6470277 202.807158,54.3433702 202.807158,54.3433702 Z" id="Path-14" fill="#D45500"></path>
    </g>
  </g>
</g>