<div class="row">
	<div class="registration-slider-wrapper small-12 columns">
		<div class="ui-slider-wrapper <%=sliderType%> ui-widget horizontal" aria-disabled="false" >
			<div id=<%=sliderId%> class=" <%=sliderType%>-slider ui-slider ui-slider-horizontal ui-widget-content ui-corner-all">
				<a class="ui-slider-handle ui-state-default ui-corner-all" href="#"></a>
			</div>
		</div>
	</div>
</div>	