<div class="ui-slider-wrapper ui-widget horizontal" aria-disabled="false" style="font-size: 16px; width: 400px;">
	<div class="ui-slider-labels">
		<div class="ui-slider-label-ticks" style="left: 0%;">
			<span>0</span>
		</div>
		<div class="ui-slider-label-ticks" style="left: 16.67%;">
			<span>1</span>
		</div>
		<div class="ui-slider-label-ticks" style="left: 33.33%;">
			<span>2</span>
		</div>
		<div class="ui-slider-label-ticks" style="left: 50%;">
			<span>3</span>
		</div>
		<div class="ui-slider-label-ticks" style="left: 66.67%;">
			<span>4</span>
		</div>
		<div class="ui-slider-label-ticks" style="left: 83.33%;">
			<span>5</span>
		</div>
		<div class="ui-slider-label-ticks" style="left: 100%;">
			<span>6</span>
		</div>
	</div>
	<div id=<%= sliderId %> class="slider-test ui-slider ui-slider-horizontal ui-widget-content ui-corner-all">
		<a class="ui-slider-handle ui-state-default ui-corner-all" href="#" style="left: 0%;"
		></a>
	</div>
</div>