PORT= // For
SESSION_SECRET= // For passportjs
DB_URL= // For MongoDB
SENDGRID_API_KEY= // For SendGrid
MLH_ID= // See https://my.mlh.io
MLH_SECRET= // https://my.mlh.io
MLH_CALLBACK_URL= // https://my.mlh.io
