/* General*/

h1,
h2,
h3,
h4 {
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
 }

.text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h1 { font-size: 32px; }
h2 {
  font-size: 24px;
  line-height: 28px; 
}
h3 { font-size: 18px; }
h4 { font-size: 14px; }

body {
    background-color: #222B30;
}

#mlh-trust-badge {
    display:block;
    max-width:100px;
    min-width:60px;
    position:fixed;
    right:50px;
    top:0;
    width:10%;
    z-index:10000;
}

.button:hover, .button:focus {
  background-color:  #34434b;
}

.black { 
  color: #000000;
}

.columns {
  padding-top: 25px;
  padding-bottom: 25px;
}

/* home elements */
#terrierLogo {
  margin-top: 120px;
  height: 215px;

  display: block;
  margin-left: auto;
  margin-right: auto;
}

#homeButtonsContainer {
  margin-top: 50px;
  margin-bottom: 20px;
}

.homeButtons {
    width: 250px;
    border-width: 2px;
    padding: 8px 30px 8px 30px;

    background-color: transparent;
    border-color: #EF6262;
    
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#attendButton {
  margin-right: 50px;
}

#sponsorButton {
  margin-left: 50px;
}


/* Schedule */
#scheduleContainer {
  width: 60%;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

/* DO I EVEN NEED THIS??*/
.scheduleItem {
  overflow-x: auto;
}

.scheduleEvent {
    float: left;
}

.scheduleEventTime {
    float: right;
}

/* Hi, clearly you've found this. Sorry if this makes you cringe because 
   there is a way better way to do this... submit a PR if you do!!:)
*/
@media screen and (max-width: 600px) {
    .scheduleItem h2 {
        font-size: 18px;
    }

    #scheduleContainer {
        width: 90%;
    }
}

/*@media screen and (max-width: 600px) {
    .scheduleItem h2 {
        font-size: 18px;
    }
}
*/


#saturday {
  margin-top: 20px;
}

#sunday {
  margin-top: 70px;
}

/* FAQ */
#faq {
  width: 100%;
  background-color: #A1DEFF;
  padding-bottom: 50px;
}

.faqTransitionLeft {
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: 0 200px 100px 0;
  border-color: transparent #222B30 transparent transparent;
}

.faqTransitionRight {
  width: 100%;
  height: 0;
  border-style: solid;
  border-width: 0 0 100px 200px;
  border-color: transparent transparent transparent #A1DEFF;
}

#faqContainer {
  width: 100%;
  background-color: #A1DEFF;
}

.header {
  padding-top: 60px;
  padding-bottom: 40px;
}

#faqHeader {
  color: #222B30;
}

.sponsor-img {
    height: 80px;
}

#contact {
    margin: 50px 0 75px 0;
}

#contactHeader {
    margin-bottom: 50px;
}

.homeContainer {
  width: 80%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

#buildingSVG { 
    top:0;
    left:0;
    height:100%;
    width:100%;
}

.serverMessageSuccess {
  color: #008000;
  border: 1px solid #009900;

  background-color: #ccffcc;
  padding: 5px 5px 5px 5px;
  margin: 10px 30px 10px 30px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}

.serverMessageError {
  color: #e81717;
  border: 1px solid #f58a8a;
  background-color: #fbd0d0;
  padding: 5px 5px 5px 5px;
  margin: 10px 30px 10px 30px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
}
