
/* General*/

h1,
h2,
h3,
h4 {
  color: #FFFFFF;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
 }

.text {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

h1 { font-size: 32px; }
h2 {
  font-size: 24px;
  line-height: 28px; 
}
h3 { font-size: 18px; }
h4 { font-size: 14px; }

body {
    background-color: #222B30;
}

a.button:hover {
  background-color:  #34434b; 
}

.black { 
  color: #000000;
}

.columns {
  padding-top: 25px;
  padding-bottom: 25px;
}

/* home elements */
#progressContainer {
  background: #222B30;
  position: fixed;
  left: 50%;
  transform: translate(-50%, 0);
  width: 74%;
  border-left: 2px solid #EF6262;
  border-right: 2px solid #EF6262;
  border-bottom: 2px solid #EF6262;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;
  /*border-radius: 50%;*/
  z-index:1000;
}

#progressBar {
  height: 72px;
  margin-top: 50px;
}

#progressItem {
  display: inline-block;
  background-color: #EF6262;
}
#progressBall {
   display: inline-block;
}

#outer-circle {
   display: inline-block;
   box-shadow: 0px 0px 0px 3px #EF6262;
   border-radius: 50%;
   height: 40px;
   width: 40px;
   position: relative;
 }
 #inner-circle {
   position: absolute;
   /*background: #EF6262;*/
   border-radius: 50%;
   height: 20px;
   width: 20px;
   top: 50%;
   left: 50%;
   margin: -10px 0px 0px -10px;
 }

 .homeProgressCircle {
   background: #EF6262;
 }

#progressLink {
  margin: 0px 5px 35px 5px;
  width: 120px;
  height: 14px;
  display: inline-block;
  border: 2px solid #EF6262;
  border-radius: 8px;
}

#progressBar #progressLink {
    background: linear-gradient(to left, transparent 50%, #EF6262 50%);
    background-size: 200% 100%;
    background-position:right bottom;
    transition:all 2s ease;
}

/*@media screen and (max-width: 1530px) {
  #progressLink {
    width: 0px;
    height: 0px;
  }
}
*/
#terrierLogo {
  margin-top: 150px;
  height: 215px;
}

#homeButtonsContainer {
  display: inline-block;
  margin-top: 46px;
}

.homeButtons {
    width: 250px;
    border-width: 2px;
    padding: 8px 30px 8px 30px;

    background-color: transparent;
    border-color: #EF6262;
    
    font-size: 24px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
}

#attendButton {
  margin-right: 40px;
}

#sponsorButton {
  margin-left: 40px;
}

@media screen and (max-width: 687px) {
  #attendButton { margin-right: 0px; }
  #sponsorButton { margin-left: 0px; }
}

#buildings {
  margin-top: 20px;
}

.buildingSVG {
  vertical-align: bottom;
}

/* Schedule */
#scheduleContainer {
  width: 500px;
  margin: 0 auto;
  margin-top: 60px;
  margin-bottom: 60px;
}

#scheduleItem {
  display: flex;
  justify-content: space-between;
}

#saturday {
  margin-top: 20px;
}

#sunday {
  margin-top: 70px;
}

/* FAQ */
#faq {
  width: 100%;
  background-color: #A1DEFF;
  position:absolute;
}

#faqTransition {
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 200px 100px 0;
  border-color: transparent #222B30 transparent transparent;
}

#faqContainer {
  width: 100%;
  background-color: #A1DEFF;
}

#faqHeader {
  padding-top: 60px;
  padding-bottom: 40px;
  color: #222B30;
}
