/*For the animation on the login page*/

.fast-item {
  -webkit-animation: item 15s infinite linear;
  -moz-animation: item 15s infinite linear;
  -ms-animation: item 15s infinite linear;
  -o-animation: item 15s infinite linear;
  animation: item 15s infinite linear;
  border-radius: 10px;
  position: relative;
  margin: 33px 0 0 0;
}
.medium-fast-item {
  -webkit-animation: item 45s infinite linear;
  -moz-animation: item 45s infinite linear;
  -ms-animation: item 45s infinite linear;
  -o-animation: item 45s infinite linear;
  animation: item 45s infinite linear;
  border-radius: 10px;
  position: relative;
  margin: 33px 0 0 0;
  width:200px;
}

.medium-item {
  -webkit-animation: item 30s infinite linear;
  -moz-animation: item 30s infinite linear;
  -ms-animation: item 30s infinite linear;
  -o-animation: item 30s infinite linear;
  animation: item 30s infinite linear;
  border-radius: 10px;
  position: relative;
  margin: 33px 0 0 0;
  width:200px;
}

.slow-item {
  -webkit-animation: item 60s infinite linear;
  -moz-animation: item 60s infinite linear;
  -ms-animation: item 60s infinite linear;
  -o-animation: item 60s infinite linear;
  animation: item 60s infinite linear;
  border-radius: 10px;
  position: relative;
  margin: 33px 0 0 0;
  width:200px;
}

.xs-small {
	width:40px;
	height: 40;
}

.small {
	width:75px;
	height: 75px;
}

.medium {
	width:100px; 
	height: 100px;
}

.large {
	width: 150px; 
	height: 150px;
}

@-webkit-keyframes item {
  0% {
    left: -5%;
  }
  100% {
    left: 95%;
  }
}

@-moz-keyframes item {
  0% {
    left: -5%;
  }
  100% {
    left: 95%;
  }
}

@-ms-keyframes item {
  0% {
    left: -5%;
  }
  100% {
    left: 95%;
  }
}

@keyframes item {
  0% {
    left: -5%;
  }
  100% {
    left: 95%;
  }
}