body {
  background-color: #A1DEFF;
  height: 100%;
  margin: 0;
}

.authContainer {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  top:0;
  left:0;
  right:0;

  padding-top: 15px;
  width: 400px;
  background-color: #222B30;

  border: 5px solid #161a1d;
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#loginContainer {
  margin-top: 100px;
}

#forgotContainer {
  margin-top: 150px;
}

#terrierLogo {
  height: 125px;
  margin: 0 auto;
  margin-top: 10px;
}

#loginErrorText {
  color: #ff1a1a;
}

#inputContainer {
  text-align: left;
  margin-left: 10%;
}

.form-group {
  margin-right: 10%;
  margin-bottom: 20px;
}

.textForm {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;

  color: #FFFFFF;
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid #A1DEFF;
}

/* If you know the correct way to combine 
the following two pieces, pls make PR :) ... 
otherwise I'll clean this up later */
input[type=email]:focus {
  background-color: #3f515a;
  border: 0px solid #A1DEFF;
  border-bottom-width: 2px;
}

input[type=password]:focus {
  background-color: #3f515a;
  border: 0px solid #A1DEFF;
  border-bottom-width: 2px;  
}

.loginButtons {
  width: 90%;
  border-width: 2px;
  padding: 8px 30px 8px 30px;

  background-color: #ed4545;
  border-color: #ed4545;
  
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align:center;
}

.loginButtons:hover,
.loginButtons:focus {
  background-color:  #EF6262;
  outline: 0;
}

.authLink {
  padding-bottom: 10px;
}

#forgotPasswordLink {
  padding-top: 5px;
  padding-bottom: 15px;
}

.authLinkText:hover{
  color: #e6e6e6;
}

#forgotPasswordTitle {
    margin-bottom: 15px;
}

@media only screen and (max-width: 900px) {
    #loginContainer {
        margin-top: 0px;
        height: 100%;
        width: 100%;
    }
}