@import url("main.css");

body {
  background-color: var(--dark-color);
  height: 100%;
  margin: 0;
  color: var(--dark-grey-color);
}

.clickableText {
  transition: color 0.1s;
}

.clickableText:hover, .clickableText:active {
  color: white;
  text-decoration: underline;
}

.authContainer {
  position: absolute;
  margin: 0 auto;
  text-align: center;
  top:0;
  left:0;
  right:0;

  padding-top: 15px;
  width: 400px;
  background-color: var(--darker-white-color);

  border: 5px solid var(--light-grey-color);
  -moz-border-radius: 5px;
  border-radius: 5px;
}

#loginContainer {
  margin-top: 100px;
}

#forgotContainer {
  margin-top: 150px;
}

#terrierLogo {
  height: 125px;
  margin: 0 auto;
  margin-top: 10px;
}

#loginErrorText {
  color: #ff1a1a;
}

#inputContainer {
  text-align: left;
  margin-left: 10%;
}

.form-group {
  margin-right: 10%;
  margin-bottom: 20px;
}

.textForm {
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  color: var(--light-grey-color);
  background-color: var(--white-color);
  border: 0;
  border-radius: 5px;
  border-bottom: 2px solid var(--white-color);
}

/* If you know the correct way to combine 
the following two pieces, pls make PR :) ... 
otherwise I'll clean this up later */
input[type=email]:focus {
  background-color: var(--white-color);
  border: 0px solid var(--light-grey-color);
  border-bottom-width: 2px;
}

input[type=password]:focus {
  background-color: var(--white-color);;
  border: 0px solid var(--light-grey-color);
  border-bottom-width: 2px;  
}

.loginButtons {
  width: 90%;
  border-width: 2px;
  padding: 8px 30px 8px 30px;
  border-radius: 5px;
  background-color: var(--light-orange-color);
  border-color: var(--dark-orange-color);
  color: var(--dark-grey-color);;
  font-size: 24px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
  text-align:center;
}

.loginButtons:hover,
.loginButtons:focus {
  background-color:  var(--dark-orange-color);
  color: var(--dark-grey-color);;
  outline: 0;
}

#additionalOptions {
  padding-top: 5px;
  padding-bottom: 15px;
}

#additionalOptions:hover{
  color: #e6e6e6;
}

#loginThemeTitle {
    margin-bottom: 15px;
}

@media only screen and (max-width: 900px) {
    #loginContainer {
        margin-top: 30px;  
    }
}


/* April 10th: Added this now */
#buRegistrationMessage {
  border: 1px solid #f58a8a;
  padding: 5px 5px 5px 5px;
  margin: 10px 30px 20px 30px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  text-align: center;
  display: inline-block;
  font-size: 18px;
  display: none;
}

.authLinkText {
  color: var(--dark-grey-color);
}