#nav--burger {
    display: none;
}

#navContainer {
  background: #222B30;
  position: fixed;

  left: 50%;
  transform: translate(-50%, 0);
  

  border-left: 2px solid #EF6262;
  border-right: 2px solid #EF6262;
  border-bottom: 2px solid #EF6262;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

  padding: 20px 50px 15px 50px;
}

#navContainer h3 {
  display: inline-block;
}

.nav-separator {
    height: 2px;
    width: 8px;
    background: #EF6262;

    display: inline-block;
    margin: 0px 10px 5px 10px;
}


@media only screen and (max-width: 1150px) {
    #navContainer {
        padding-left: 20px;
        padding-right: 20px;
    }

    #navContainer a h3 {
      font-size: 14px;
    }
}

@media only screen and (max-width: 900px) {
    #navContainer {
      width: 100%;
      position: static;

      left: 0;
      transform: none;
      border-bottom-left-radius: 0px;
      border-bottom-right-radius: 0px;
      background: #EF6262;
      overflow: hidden;
    }

    #navContainer a h3 {
        font-size: 18px;
    }

    .nav-separator, .navLink, #mlh-trust-badge {
        display: none;
    }
    
    #terrierLogo {
        margin-top: 50px;
    }

    #nav--burger {
        display: inline;
        outline: none;
    }
    .navLinks {
        margin-left: 15px;
    }
}






