#nav--burger {
    display: none;
}

#navContainer {
  background: #222B30;
  position: fixed;

  left: 50%;
  transform: translate(-50%, 0);
  

  border-left: 2px solid #EF6262;
  border-right: 2px solid #EF6262;
  border-bottom: 2px solid #EF6262;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

  padding: 20px 50px 15px 50px;
}

#navContainer h3 {
  display: inline-block;
}

.nav-separator {
    height: 2px;
    width: 8px;
    background: #EF6262;

    display: inline-block;
    margin: 0px 10px 5px 10px;
}




