@import url("main.css");

.page-header {
  margin: 20px 0px 20px 0px;
}

.registration-body {
  background-color: var(--dark-color);
}

.registration-heading {
  color: var(--light-orange-color);
  font-size: 32px;
  text-align: center;
}


/* Post MLH View */

input[type="text"],
input[type="number"],
textarea {
  width: 500px;
  max-width: 100%;
}

input[type="radio"] {
  margin-bottom: 0px;
}

.registration-body-form {
  background-color: var(--darker-white-color);
  padding: 2% 20%;
}

.question {
  color: var(--dark-grey-color);
  margin-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 300;
}

.contains-clarification {
  margin-bottom: 0px;
}

.question-clarification {
  margin-left: 20px;
}

.resume-input {
  margin: 20px 0px 20px 30px;
}

#reimbursement-followup-questions {
  margin-top: 30px;
  display: none;
}

.experience .registration-slider-option {
  left:-100%;
  font-size: 12px!important;
}

.registration-slider-wrapper {
  width: 100%;
}

.teammates, .create-team, .existing-team{
  display: none;
} 

.technology-slider-row, .language-slider-row, .soft-skills-slider-row, .final-project-slider-row, .hackathon-goals-slider-row {
  padding: 0 5% 0 5%;
}