<!doctype html>
<html>
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/admin.css">
</head>
<body>
    <% include ../partials/profile-nav %>
    <h1 class="text-center" id="admin-title"> Admin Console </h1>

    <% include ../partials/profile-footer %>
</body>

<script src="https://use.fontawesome.com/fae771462f.js"></script>
</html>