<!doctype html>
<html>
<head>
    <title>Submitted! - BostonHacks - March 3rd</title>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/registration.css">
</head>
<body>
<div class="container">
    <% include ../partials/profile-nav %>

    <div class="page-header text-center">
        <h1>Registration</h1>
        <h3> Beast! Your application has been successfully submitted :) </h3>
        <form action="/home" method="get">
            <input type='submit' value='Continue'>
        </form>
    </div>

</div>
</body>

<footer>
    <% include ../partials/footer %>
</footer>
</html>