<!doctype html>
<html>
<head>
    <title>Registration - BostonHacks - March 3rd</title>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/registration.css">
</head>
<body>
<div class="container preMLH">
    <div class="page-header text-center">
        <h1>Registration</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
     <div class="page-header text-center">
        <h3> We use MyMLH to speed up your application process. <br>You'll be redirected now....</h3>
    </div>

</div>
</body>

<footer>
    <% include ../partials/footer %>
    <script>
    $(setTimeout(function () {
        window.location.href = "<%= redirect_url %>";
    }, 3000));
</script>

</footer>
</html>