<!doctype html>
<html>
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/registration.css">
</head>
<body class="dark-background">
<div class="container">
    <% include ../partials/profile-nav %>

    <div class="page-header text-center">
        <h1>Registration</h1>
        <h3>Your application has been successfully submitted &#x1F604; </h3>
        <h3>Decisions will be made on a rolling basis </h3> 
        <form action="/home" method="get">
            <input type="submit" class="button" value="Continue">
        </form>
    </div>

</div>
</body>

<footer>
    <% include ../partials/footer %>
</footer>
</html>