<!doctype html>
<html>
<head>
    <title>Registration - BostonHacks - March 3rd</title>
    <% include ../partials/head %>
</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <h1>Registration</h1>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>
     <div class="page-header text-center">
        <h3> We use MyMLH to speed up your application process. <br>You'll be redirected now....</h3>
    </div>

</div>
</body>

<footer>
    <% include ../partials/footer %>
    <script>
    $(setTimeout(function () {
        window.location.href = "https://my.mlh.io/oauth/authorize?client_id=223fde16c1eaa768cb8ed16f3f6837cecca8b1168584ee4212c5ef9b0a5ecaf7&redirect_uri=http%3A%2F%2F192.81.211.73%3A5000%2Fauth%2Fmlh%2Fcallback&response_type=code";
    }, 3000));
</script>

</footer>
</html>