<!doctype html>
<html>
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/registration.css">
</head>
<body>
<div class="container preMLH">
    <% include ../partials/profile-nav %>
    <div class="page-header text-center">
        <h1>Registration</h1>
    
        <% if (errormessage.length > 0) { %>
            <div class="text-center">
                <div class="serverMessageError"> <%= errormessage %> </div>
            </div>
        <% } %>
    
        <h3> We use MyMLH to speed up your application process. <br>You'll be redirected now....</h3>
    </div>

</div>
</body>

<footer>
    <% include ../partials/footer %>
    <script>
        $(setTimeout(function () {
            window.location.href = "<%= redirectUrl %>";
        }, 3000));
    </script>
</footer>
</html>