<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/slider.css">
    <link rel="stylesheet" href="css/registration.css">
    <script src="http://code.jquery.com/jquery.js"></script>
    <script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
    <script src="js/vendor/slider.js"></script>
  </head>
  <body>
    <div class="container registration-body">
      <% include ../partials/profile-nav %>
      <div class="page-header text-center">
        <div class="registration-heading">
          <h1>General Survey</h1>
        </div>
        <div class="registration-heading">
          We would love to know more about you! Please fill out the following survey. It will also help us with team formation.
        </div>
      </div>
      <div class="questions-container">
        <% if (errormessage.length > 0) { %>
        <div class="text-center">
          <div class="serverMessageError"> <%= errormessage %> </div>
        </div>
        <% } %>
        <div class="registration-body-form">
          <form action="/submit-application" method="POST" enctype="multipart/form-data">
            <div id="registration-body-form-skills">
              <!-- q1 -->
              <div class="registration-body-form-question-section interest-areas">
                <div class="registration-form-skills-response row">
                  <div class="q1-question small-12 columns" id="q1">What areas are you most interested in?</div>
                  <div class="q q1 small-6 areas-options columns">
                    <input class="q1 i1" id="q1-i1" type="checkbox"><label for="q1-i1">Finance</label><br>
                    <input class="q1 i2" id="q1-i2" type="checkbox"><label for="q1-i2">Politics</label><br>
                    <input class="q1 i3" id="q1-i3" type="checkbox"><label for="q1-i3">Health</label><br>
                    <input class="q1 i4" id="q1-i4" type="checkbox"><label for="q1-i4">Travel</label><br>
                    <input class="q1 i5" id="q1-i5" type="checkbox"><label for="q1-i5">Entertainment</label><br>
                    <input class="q1 i6" id="q1-i6" type="checkbox"><label for="q1-i6">Music</label>
                  </div>
                  <div class="small-6 areas-options columns q q1">
                    <input class="q1 i7" id="q1-i7" type="checkbox"><label for="q1-i7">Economics</label><br>
                    <input class="q1 i8" id="q1-i8" type="checkbox"><label for="q1-i8">Social Issues</label><br>
                    <input class="q1 i9" id="q1-i9" type="checkbox"><label for="q1-i9">Gaming</label><br>
                    <input class="q1 i10" id="q1-i10" type="checkbox"><label for="q1-i10">Fashion</label><br>
                    <input class="q1 i11" id="q1-i11" type="checkbox"><label for="q1-i11">Sports</label><br>
                    <input class="q1 i12" id="q1-i12" type="checkbox"><label for="q1-i12">Arts</label><br>
                  </div>
                  <div class="small-12 columns">
                    <label>Other:</label>
                    <input class="q1 other" id="q1-other" type="text">
                  </div>
                </div>
              </div>
              <!-- q2 -->
              <div class="registration-body-form-question-section roles">
                <div class="registration-form-role-response row">
                  <div class="q2-question small-12 columns question" id="q2">What role do you expect to play on the team?</div>
                  <div class="q q2 small-12 columns role-options">
                    <input class="q2 i1" id="q2-i1" type="checkbox"><label for="q2-i1">Front-end Engineer</label><br>
                    <input class="q2 i2" id="q2-i2" type="checkbox"><label for="q2-i2">Back-end Engineer</label><br>
                    <input class="q2 i3" id="q2-i3" type="checkbox"><label for="q2-i3">Data Scientist</label><br>
                    <input class="q2 i4" id="q2-i4" type="checkbox"><label for="q2-i4">Designer</label><br>
                    <input class="q2 i5" id="q2-i5" type="checkbox"><label for="q2-i5">iOS</label><br>
                    <input class="q2 i6" id="q2-i6" type="checkbox"><label for="q2-i6">Android</label><br>
                  </div>
                  <div class="small-12 columns">
                    <label>Other:</label>                      
                    <input class="q2 other" id="q2-other" type="text">
                  </div>
                </div>
              </div>
              <!-- q3 -->
              <div class="registration-body-form-question-section technology">
                <div class="row">
                  <div class="q3-question small-12 question columns ">Rate your experience with the following technologies:</div>
                  <div class="technology-slider-row">
                    <div class="q3 i1 slider-answer-option">Web Application Development</div>
                    <% var sliderId = 'q3-i1'; var sliderType = 'experience';%>
                    <% include ../partials/slider %>
                  </div>
                  <div class="technology-slider-row">
                    <div class="q3 i2 slider-answer-option">Mobile Application Development</div>
                    <% var sliderId = 'q3-i2'; var sliderType = 'experience';%>
                    <% include ../partials/slider %>
                  </div>
                  <div class="technology-slider-row">
                    <div class="q3 i3 slider-answer-option">Data Analytics/Mining</div>
                    <% var sliderId='q3-i3'; var sliderType = 'experience';%>
                    <% include ../partials/slider %>
                  </div>
                  <div class="technology-slider-row">
                    <div class="q3 i4 slider-answer-option">Machine Intelligence</div>
                    <% var sliderId='q3-i4'; var sliderType = 'experience';%>
                    <% include ../partials/slider %>
                  </div>
                  <div class="technology-slider-row">
                    <div class="q3 i5 slider-answer-option">Computer Networks</div>
                    <% var sliderId='q3-i5'; var sliderType = 'experience';%>
                    <% include ../partials/slider %>
                  </div>
                  <div class="technology-slider-row">
                    <div class="q3 i6 slider-answer-option">Algorithm Design</div>
                    <% var sliderId='q3-i6'; var sliderType = 'experience';%>
                    <% include ../partials/slider %>
                  </div>
                  <div class="technology-slider-row">
                    <div class="q3 i7 slider-answer-option">Virtual/Augmented Reality</div>
                    <% var sliderId = 'q3-i7'; var sliderType = 'experience'; %>
                    <% include ../partials/slider %>
                  </div>
                  <div class="technology-slider-row">
                    <div class="q3 i8 slider-answer-option">Hardware</div>
                    <% var sliderId='q3-i8'; var sliderType = 'experience'; %>
                    <% include ../partials/slider %>
                  </div>
                  <div class="technology-slider-row">
                    <div class="q3 i9 slider-answer-option">Internet of Things (IoT)</div>
                    <% var sliderId='q3-i9'; var sliderType = 'experience'; %>
                    <% include ../partials/slider %>
                  </div>
                  <div class="technology-slider-row">
                    <div class="q3 i10 slider-answer-option">Game Development</div>
                    <% var sliderId='q3-i10'; var sliderType = 'experience'; %>
                    <% include ../partials/slider %>
                  </div>
                  <div class="technology-slider-row">
                    <label>Other:</label>
                      <input class="q3 other" id="q3-other" type="text">
                  </div>
                </div>
              </div>
              <!-- q4 -->
              <div class="registration-body-form-question-section languages">
                <div class="row">
                  <div class="q4-question small-12 columns question">Rate your experience with the following languages:</div>
                  <div class="language-slider-row">
                    <div class="q4 i1 slider-answer-option q4i">HTML/CSS</div>
                    <% var sliderId='q4-i1'; var sliderType = 'experience'; %>
                    <% include ../partials/slider %>
                  </div>
                  <div class="language-slider-row">
                    <div class="q4 i2 slider-answer-option q4i">JavaScript</div>
                    <% var sliderId='q4-i2'; var sliderType = 'experience'; %>
                    <% include ../partials/slider %>
                  </div>
                  <div class="language-slider-row">
                    <div class="q4 i3 slider-answer-option">Java</div>
                    <% var sliderId='q4-i3'; var sliderType = 'experience'; %>
                    <% include ../partials/slider %>
                  </div>
                  <div class="language-slider-row">
                    <div class="q4 i4 slider-answer-option">C++</div>
                    <% var sliderId='q4-i4'; var sliderType = 'experience'; %>
                    <% include ../partials/slider %>
                  </div>
                  <div class="language-slider-row">
                    <div class="q4 i5 slider-answer-option">Python</div>
                    <% var sliderId='q4-i5'; var sliderType = 'experience'; %>
                    <% include ../partials/slider %>
                  </div>
                  <div class="language-slider-row">
                    <div class="q4 i6 slider-answer-option">Ruby</div>
                    <% var sliderId='q4-i6'; var sliderType = 'experience'; %>
                    <% include ../partials/slider %>
                  </div>
                  <div class="language-slider-row">
                    <div class="q4 i7 slider-answer-option">C#</div>
                    <% var sliderId='q4-i7'; var sliderType = 'experience'; %>
                    <% include ../partials/slider %>
                  </div>
                  <div class="language-slider-row">
                    <div class="q4 i8 slider-answer-option">SQL</div>
                    <% var sliderId='q4-i8'; var sliderType = 'experience'; %>
                    <% include ../partials/slider %>
                  </div>
                  <div class="language-slider-row">
                    <div class="q4 i9 slider-answer-option">Swift</div>
                    <% var sliderId='q4-i9'; var sliderType = 'experience'; %>
                    <% include ../partials/slider %>
                  </div>
                  <div class="language-slider-row">
                    <div class="q4-i10 slider-answer-option">Scala</div>
                    <% var sliderId='q4-i10'; var sliderType = 'experience'; %>
                    <% include ../partials/slider %>
                  </div>
                  <div class="language-slider-row">
                    <label>Other:</label>
                      <input class="q4 other slider" id="q4" type="text">                    
                  </div>
                </div>
              </div>
              <!-- q5 -->
              <div class="registration-body-form-question-section soft-skills">
                <div class="row">
                  <div class="q5-question small-12 columns question">Rate your skills (worse - better):</div>
                  <div class="soft-skills-slider-row">
                    <div class="q5 i1 soft-skills-slider slider-answer-option">Communication Skills</div>
                    <% var sliderId = 'q5-i1 soft-skills-slider-1'; var sliderType = 'rate';%>
                    <% include ../partials/slider %>
                  </div>
                  <div class="soft-skills-slider-row">
                    <div class="q5 i2 soft-skills-slider slider-answer-option">Design Skills</div>
                    <% var sliderId = 'q5-i2 soft-skills-slider-2'; var sliderType = 'rate';%>
                    <% include ../partials/slider %>
                  </div>
                  <div class="soft-skills-slider-row">
                    <div class="q5 i3 soft-skills-slider slider-answer-option">Presentation Skills</div>
                    <% var sliderId = 'q5-i3'; var sliderType = 'rate';%>
                    <% include ../partials/slider %>
                  </div>
                  <div class="soft-skills-slider-row">
                    <div class="q5 i4 soft-skills-slider slider-answer-option">Project Management Skills</div>
                    <% var sliderId = 'q5-i4'; var sliderType = 'rate';%>
                    <% include ../partials/slider %>
                  </div>
                </div>
              </div>
              <!-- q6 -->
              <div class="registration-body-form-question-section hackathon-goals">
                <div class="row">
                  <div class="q6-question small-12 columns question">Why are you attending BostonHacks? (Rate)</div>
                  <div class="hackathon-goals-slider-row">
                    <div class="q6 i1 hackathon-goals-slider slider-answer-option q6i">Have fun!</div>
                    <% var sliderId='q6-i1'; var sliderType = 'rate';%>
                    <% include ../partials/slider %>
                  </div>
                  <div class="hackathon-goals-slider-row">
                    <div class="q6 i2 hackathon-goals-slider slider-answer-option">Gain technical skills</div>
                    <% var sliderId='q6-i2'; var sliderType = 'rate';%>
                    <% include ../partials/slider %>
                  </div>
                  <div class="hackathon-goals-slider-row">
                    <div class="q6 i3 hackathon-goals-slider slider-answer-option">Win</div>
                    <% var sliderId='q6-i3'; var sliderType = 'rate';%>
                    <% include ../partials/slider %>
                  </div>
                  <div class="hackathon-goals-slider-row">
                    <div class="q6 i4 hackathon-goals-slider slider-answer-option">Meet new people</div>
                    <% var sliderId='q6-i4'; var sliderType = 'rate';%>
                    <% include ../partials/slider %>
                  </div>
                </div>
              </div>
              <!-- q7 -->
              <div class="registration-body-form-question-section final-project">
                <div class="row">
                  <div class="q7-question small-12 columns question">Rate how important the following is for your final project? (Rate)</div>
                  <div class="final-project-slider-row">
                    <div class="q7 i1 final-project-slider slider-answer-option">Great code</div>
                    <% var sliderId = 'q7-i1'; var sliderType = 'rate';%>
                    <% include ../partials/slider %>
                  </div>
                  <div class="final-project-slider-row">
                    <div class="q7 i2 final-project-slider slider-answer-option">Great concept</div>
                    <% var sliderId = 'q7-i2'; var sliderType = 'rate';%>
                    <% include ../partials/slider %>
                  </div>
                  <div class="final-project-slider-row">
                    <div class="q7 i3 final-project-slider slider-answer-option">Great design</div>
                    <% var sliderId = 'q7-i3'; var sliderType = 'rate';%>
                    <% include ../partials/slider %>
                  </div>
                  <div class="final-project-slider-row">
                    <div class="q7 i4 final-project-slider slider-answer-option">Great presentation</div>
                    <% var sliderId = 'q7-i4'; var sliderType = 'rate';%>
                    <% include ../partials/slider %>
                  </div>
                </div>
              </div>
              <!-- q8 -->
              <div class="registration-body-form-question-section team-fork">
                <div class="row">
                  <div class="q8-question small-12 columns question" id="q8">Do you have a team?</div>
                  <div class="grid-x grid-padding-x">
                    <fieldset class="large-6 cell question-options">
                      <input type="radio" name="team" value="true" class="q8 team-radio radio" id="team"><label for="teamTrue">Yes</label>
                      <br>
                      <input type="radio" name="team" value="false" class="q8 team-radio radio" id="team"><label for="teamFalse">No</label>
                    </fieldset>
                  </div>
                </div>
                <!-- q9 -->
                <div class="registration-body-form-question-section teammates">
                  <div class="row">
                    <div class="q9-question small-12 columns question" id="q9">Are you looking for more people to join your team?</div>
                    <div class="grid-x grid-padding-x">
                      <fieldset class="large-6 cell question-options">
                        <input type="radio" name="teammates" value="true" class="q9 teammates-radio radio" id="teammates"><label for="teammatesTrue">Yes</label>
                        <br>
                        <input type="radio" name="teammates" value="false" class="q9 teammates-radio radio" id="teammates"><label for="teammatesFalse">No</label>
                      </fieldset>
                    </div>
                  </div>
                </div>                
                <!-- q10 -->
                <div class="registration-body-form-question-section join-team">
                  <div class="row">
                    <div class="q10-question small-12 columns question" id="q10">Would you like to join an existing team or project?</div>
                    <div class="grid-x grid-padding-x">
                      <fieldset class="large-6  cell question-options">
                        <input type="radio" name="join-team" value="true" class="q10 join-team-radio radio" id="join-team"><label for="join-team-true">Yes</label>
                        <br>
                        <input type="radio" name="join-team" value="false" class="q10 join-team-radio radio" id="join-team"><label for="join-team-false">No</label>
                      </fieldset>
                    </div>
                  </div>
                </div>
                <!-- q11 -->
                <div class="registration-body-form-question-section create-team">
                  <div class="row">
                    <div class="q11-question small-12 columns question" id="q11">Would you like to create your own team?</div>
                    <div class="grid-x grid-padding-x">
                      <fieldset class="q11 large-6 cell question-options">
                        <input type="radio" name="create-team" value="true" class="create-team-radio" id="create-team-true"><label for="create-team-true">Yes</label>
                        <br>
                        <input type="radio" name="create-team" value="false" class="create-team-radio" id="create-team-false"><label for="create-team-false">No</label>
                      </fieldset>
                    </div>
                  </div>
                </div>
                <div class="registration-button">
                  <a href="#" id="registrationButton" class="button">Finish</a>
                </div>
              </form>            
            </div>
          </div>
        </div>
      </body>
      <footer>        
        <script src="/js/vendor/foundation.js"></script>        
        <script src="js/registration-logic.js"></script>        
        <script src="js/slider-local.js"></script>        
        <script src="js/registration-gather-data.js"></script>
      </footer>
    </html>
