<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/registration.css">
    <script src="http://code.jquery.com/jquery.js"></script>
  </head>
  <body>
    <div class="container registration-body">
      <% include ../partials/profile-nav %>
    </div>
    <div class="page-header text-center">
      <span class="registration-heading">
        <h1>Registration</h1>
      </span>
    </div>
    <div class="questions-container">
      <span class="registration-heading">
        <h2> Please answer the following questions and we will match you with a team.</h2>
      </span>
      <div class="registration-body-form">
        <div class="registration-body-form-team">
          <div class="row">
            <div class="large-12 columns">
              <span></span>
            </div>
            <div class="registration-body-form-question-section interest-areas">
              <div class="registration-form-skills-response row">
                <span class="q1 small-12 question columns">How many more people are you looking for?</span>
                <div class="large-12 columns">
                  <label>Select Box
                    <select>
                      <option value="husker">Husker</option>
                      <option value="starbuck">Starbuck</option>
                      <option value="hotdog">Hot Dog</option>
                      <option value="apollo">Apollo</option>
                    </select>
                  </label>
                </div>
              </div>
            </div>
            <div class="large-12 columns">
              <label>Select Box
                <select>
                  <option value="husker">Husker</option>
                  <option value="starbuck">Starbuck</option>
                  <option value="hotdog">Hot Dog</option>
                  <option value="apollo">Apollo</option>
                </select>
              </label>
            </div>
          </div
        </div>
      </div>
    </div>
  </body>
</html>