<!doctype html>
<html>
<head>
    <title>Change Password - BostonHacks - March 3rd</title>
    <% include ../partials/changePasswordHead %>
    <link rel="stylesheet" href="../../css/login.css">
</head>
<body>
    <section>
<!--         <link rel="stylesheet" href="/public/css/clouds.css">
 -->        <% include ../partials/clouds %>

        <div id="forgotContainer" class="authContainer">
            <a href="/"><img src="../../img/terrierLogo.png" id="terrierLogo"></a>

            <% if (forgotMessageSuccess.length > 0) { %>
                <h3 class="serverMessageSuccess"> <%= forgotMessageSuccess %> </h3>
            <% } %>

            <% if (forgotErrorMessage.length > 0) { %>
                <h3 class="serverMessageError"> <%= forgotErrorMessage %> </h3>
            <% } %>

            <h1 id="forgotPasswordTitle"> Change Password </h1>
            <div id="inputContainer">
                <div class="form-group">
                    <h2> Password: </h2>
                    <input type="password" class="textForm" name="password" id="passwordInput" placeholder=">= 6 characters">
                </div>
                <br>
                <button onclick="change()" class="button loginButtons forgotButton">Reset</button>
            </div>
            <div class="authLink">
                <a href="/login">
                    <h3 class="authLinkText">Back to Login</h3>
                </a>
            </div>
        </div>
    </body>

<footer>
    <% include ../partials/changePasswordFooter %>
    <script src="../../js/login.js"></script>
    <% if (message != 'There was an error, please try again.' && (message.length > 0 && forgotMessageSuccess.length > 0)) { %>
        <script type="text/javascript">
            $(setTimeout(function () { window.location.pathname = "forgot-password"; }, 4000));
        </script>
    <% } %>
</footer>
</html>






