<!-- <!doctype html>
<html>
<head>
    <title>Profile - BostonHacks - March 3rd</title>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/profile.css">

</head>
<body>
    <% include ../partials/profile-nav %>

    <div class="account-extras-container">
        <div class="large-12 columns">
            <h1> Change Account Information: </h1>
        </div>
    </div>
    <div class="large-12 columns text-center" id="profile-footer">
        <h3> Join us on Social Media! </h3>
        <div class="social-media-icons">
            <a href="https://www.facebook.com/bostonhacks/"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
            <a href="https://twitter.com/boston_hacks"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        </div>
    </div>

    <% include ../partials/profile-footer %>
</body>

<script src="https://use.fontawesome.com/fae771462f.js"></script>
</html> -->