<!doctype html>
<html>
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="/css/login.css">
</head>
<body>
    <% include ../partials/clouds %>

    <div id="forgotContainer" class="authContainer">
        <a href="/"><img src="/img/terrierLogo.png" id="terrierLogo"></a>

        <% if (forgotMessageSuccess.length > 0) { %>
            <h3 class="serverMessageSuccess"> <%= forgotMessageSuccess %> </h3>
        <% } %>

        <% if (forgotErrorMessage.length > 0) { %>
            <h3 class="serverMessageError"> <%= forgotErrorMessage %> </h3>
        <% } %>

        <h1 id="forgotPasswordTitle"> Change Password </h1>
        <div id="inputContainer">
            <div class="form-group">
                <h2> Password: </h2>
                <input type="password" class="textForm" name="password" id="passwordInput" placeholder=">= 9 characters">
            </div>
            <br>
            <button onclick="change()" class="button loginButtons forgotButton">Reset</button>
        </div>
        <div class="authLink">
            <a href="/login">
                <h3 class="authLinkText">Back to Login</h3>
            </a>
        </div>
    </div>
</body>

<footer>
    <% include ../partials/footer %>
    <script src="/js/login.js"></script>
</footer>
</html>
