<!doctype html>
<html>
<head>
    <title>Forgot Password - BostonHacks - March 3rd</title>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <section>
        <% include ../partials/clouds %>
        <div id="forgotContainer" class="authContainer">
            <a href="/"><img src="img/terrierLogo.png" id="terrierLogo"></a>

            <h1 id="loginThemeTitle"> Forgot Password </h1>

            <% if (forgotMessageSuccess.length > 0) { %>
                <h3 class="serverMessageSuccess"> <%= forgotMessageSuccess %> </h3>
            <% } %>

            <% if (forgotErrorMessage.length > 0) { %>
                <h3 class="serverMessageError"> <%= forgotErrorMessage %> </h3>
            <% } %>

            <div id="inputContainer">
                <div class="form-group">
                    <h2> Email: </h2>
                    <input type="email" class="textForm" name="email" id="emailInput" placeholder="you@bostonhacks.io">
                </div>
                <br>
                <button onclick="reset()" class="button loginButtons forgotButton">Reset</button>
            </div>
            <div class="authLink">
                <a href="/login">
                    <h3 class="authLinkText">Back to Login</h3>
                </a>
            </div>
        </div>
    </body>

<footer>
    <% include ../partials/footer %>
    <script src="js/login.js"></script>
</footer>
</html>




