<!DOCTYPE html>
<html lang="en"><head><meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <!-- views/partials/head.ejs -->

<meta http-equiv="x-ua-compatible" content="ie=edge">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>BostonHacks — October 28 & 29</title>

<!-- Stylesheets -->
<link href="./css/font-config.css" rel="stylesheet">
<link rel="stylesheet" href="./css/foundation.css">
<link rel="stylesheet" href="./css/main.css">
<link rel="stylesheet" href="./css/style.css">
<link rel="stylesheet" href="./libs/font-awesome-4.7.0/css/font-awesome.min.css">

<script async="" src="https://www.google-analytics.com/analytics.js"></script><script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-67825496-10', 'auto');
  ga('send', 'pageview');

</script>

<link rel="stylesheet" href="./css/navigation.css">
<link rel="stylesheet" href="./css/hamburgers.css">
<link rel="stylesheet" href="./css/mobile.css">
<meta class="foundation-mq"></head>
<body>
    <a id="mlh-trust-badge" style="display:block;max-width:100px;min-width:60px;position:fixed;right:50px;top:0;width:10%;z-index:10000" href="https://mlh.io/seasons/na-2018/events?utm_source=na-2018&utm_medium=TrustBadge&utm_campaign=na-2018&utm_content=white" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2018/white.svg" alt="Major League Hacking 2017 Hackathon Season" style="width:100%"></a>
    
    <div id="bg-image">
    <div id="bg-overlay">
      <div id="navContainer">
        <button class="hamburger hamburger--slider" id="nav--burger" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>

        <div class="navLinks">
          
          <a href="#about" class="navLink">
              <h3>About</h3>
          </a>
          
          <div class="nav-separator"></div>
          
          <a href="#learn" class="navLink">
              <h3>Learning</h3>
          </a>
          
          <div class="nav-separator"></div>
          
          <a href="#details" class="navLink">
              <h3>Schedule</h3>
          </a>
          
          <div class="nav-separator"></div>
          
          <a href="#faq" class="navLink">
              <h3>FAQ</h3>
          </a>
          
          <div class="nav-separator"></div>
          
          <a href="#sponsor" class="navLink">
              <h3>Sponsors</h3>
          </a>
          
          <div class="nav-separator"></div>

          <a href="#contact" class="navLink">
              <h3>Contact us</h3>
          </a>
        </div>
    </div>
    
      <!-- Need this br -->
      <br>
  
      <section id="home">      
          <div class="homeContainer">
          
              <img src="./img/terrierLogo.png" id="terrierLogo">
  
              <h1>Boston<b>Hacks</b> Fall 2017</h1>
              <h2>October 28th - 29th<br>Boston, MA</h2>
              <br>
              <div id="homeButtonsContainer">
                  <div id="buttonWrapper" class="navLinks">
                    <a href="javascript:void(0);" onclick="showSignup()" class="button homeButtons" id="attendButton">Attend</a>
                    <a href="#sponsor" class="button homeButtons navLink" id="sponsorButton">Sponsor</a>
                  </div>
              </div>
              <br>
              <div id="mailchimp-signup">
                <h3>Get notified when applications open</h3>
                      <!-- Begin MailChimp Signup Form -->
                  <link href="//cdn-images.mailchimp.com/embedcode/horizontal-slim-10_7.css" rel="stylesheet" type="text/css">
                  <style type="text/css">
                  	#mc_embed_signup{background:#fff; clear:left; font:14px Helvetica,Arial,sans-serif; width:100%;}
                  	/* Add your own MailChimp form style overrides in your site stylesheet or in this style block.
                  	   We recommend moving this block and the preceding CSS link to the HEAD of your HTML file. */
                  </style>
                  <div id="mc_embed_signup">
                  <form action="//bostonhacks.us11.list-manage.com/subscribe/post?u=13cd178ce59e4de2a1ecb4265&amp;id=34e7b75e7b" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                      <div id="mc_embed_signup_scroll">
                  	<label for="mce-EMAIL">Email address: </label>
                  	<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="you@mail.com" required>
                      <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                      <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_13cd178ce59e4de2a1ecb4265_34e7b75e7b" tabindex="-1" value=""></div>
                      <div class="clear"><input type="submit" value="Subscribe" name="subscribe" id="mc-embedded-subscribe" class="button"></div>
                      </div>
                  </form>
                  </div> 
                  <!--End mc_embed_signup-->
              </div>
              
          </div>
      </section>
    </div>
    </div>
    
    <section class="section-light" id="about">
<!--       <div class="faqTransitionLeft" style="border-width: 0px 1280px 100px 0px;"></div> -->
      <div class="row">
        <div class="columns small-12 large-7 force-left-margin">
          <h1 class="header" id="aboutHeader">Welcome to Boston</h1>
          <p class="p-text" id="aboutText">BostonHacks is Boston University's annual hackathon. 400 students will come from all around North America to form teams around creating an awesome project in 24 hours. Along the way they'll learn about how to use new technologies and will build their experience as developers.<br><br>Come join us for a weekend full of workshops and learning, paired with halloween themed side events and fun.</p>
          <br>
        </div>
        
        <div class="columns small-12 large-4" id="about-hacking" onclick="clickWhatIsHackathon()">
          <h1 class="text-center" id="what-is-question">What is a Hackathon? &nbsp;<i class="fa fa-caret-right" aria-hidden="true"></i></h1>
        </div>
      </div>
    </section>
<!--     <div class="faqTransitionRight" style="border-width: 0px 0px 100px 1280px;"></div> -->

    <section class="section-dark" id="learn">
      <div class="row">
        <div class="columns small-12 large-8 force-left-margin">
          <h1 class="header">Tracks</h1>
          <p class="p-text">This year, tracks will be offered, allowing students to work towards learning material and building a project in a specific set of technology. A comprehensive set of workshops, mentors, and learning materials will be available for students to utilize. As well, prizes specific to these tracks will be awarded.</p>
        </div>
        <div class="float-left small-2 small-offset-5 large-4 large-offset-0 columns">
          <svg  id="icon-ghost" viewBox="0 0 219 293" version="1.1">
              <title>Ghost</title>
              <% include ../partials/ghost %>
          </svg>
        </div>
      </div>
      <div class="row" id="track-column-contain" data-equalize-on="large" data-equalizer>        
        <div class="columns small-12 medium-offset-2 medium-8 large-4 large-offset-0">
          <div class="track-container" data-equalizer-watch>
            <div class="track-question"><i class="fa fa-question fa-5x" aria-hidden="true"></i> <br>TBA</div>
          </div>
        </div>        
        <div class="columns small-12 medium-offset-2 medium-8 large-4 large-offset-0">
          <div class="track-container" data-equalizer-watch>
            <h2>Machine Learning</h2>
            <p>Lead by BU’s Machine Intelligence Community, come learn how to get into the basics of several ML frameworks, and move on to more advanced topics.</p>
            <h3>WORKSHOPS</h3>
            <div class="track-workshop">Introduction to PyTorch <!-- <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i> --></div>
            <!-- <div class="track-workshop">TBA <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i></div> -->
            <!-- <h3>PRIZES</h3> -->
            <!-- <div class="track-workshop">TBA <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i></div> -->
          </div>
        </div>      
        <div class="columns small-12 medium-offset-2 medium-8 large-4 large-offset-0" style="float: left;">
          <div class="track-container" data-equalizer-watch>
            <h2>Web Development</h2>
            <p>Lead by Members of BU’s Open Web Club and Women in Computer Science Club, explore how to create web applications.</p>
            <h3>WORKSHOPS</h3>
            <div class="track-workshop">Introduction to Web Development <!-- <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i> --></div>
            <div class="track-workshop">Introduction to React Native <!-- <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i> --></div>
            <div class="track-workshop">Introduction to Chrome Developer Tools <!-- <i class="fa fa-caret-right fa-2x" aria-hidden="true"></i> --></div>
          </div>
        </div>        
      </div>
    </section>
    
    <section class="section-light" id="details">
      <div class="row">
        
        <div id="icon-pump" class="columns small-2 show-for-large-up">
          <?xml version="1.0" encoding="UTF-8" standalone="no"?>
          <svg width="297px" height="256px" viewBox="0 0 297 256" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
              <!-- Generator: Sketch 45.1 (43504) - http://www.bohemiancoding.com/sketch -->
              <title>Group</title>
              <desc>Created with Sketch.</desc>
              <defs></defs>
              <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                  <g id="Desktop-HD" transform="translate(-104.000000, -1649.000000)">
                      <g id="Group" transform="translate(104.000000, 1649.000000)">
                          <path d="M141.462188,53.5134147 C141.462188,53.5134147 142.26882,11.179997 159.631933,0.366838405 C160.130733,0.0562023686 180.395817,8.06213309 180.395817,8.06213309 C180.395817,8.06213309 165.594539,20.1606109 165.594538,28.0086188 C165.594537,35.8566268 165.507414,55.0072484 165.507414,55.0072484 L141.462188,53.5134147 Z" id="Path-15" fill="#784421"></path>
                          <path d="M0.242407194,148.318939 C-5.58216657,226.710199 95.0541715,273.682199 140.972833,245.891731 C201.20544,268.223564 283.833235,254.878415 295.7451,163.564208 C307.656964,72.2500016 231.836646,54.6472634 220.91704,49.6061795 C209.997434,44.5650956 166.354187,44.3563223 151.388098,51.0159937 C138.465195,44.3563224 123.229346,39.1322684 92.4104787,41.6399081 C61.5916111,44.1475477 6.06698096,69.9276785 0.242407194,148.318939 Z" id="Path-9" fill="#FF6600"></path>
                          <path d="M112.781005,55.9622688 C112.781005,55.9622688 60.3001424,93.578845 60.3001428,148.742229 C60.3001432,203.905614 80.6813413,236.889992 80.6813413,236.889992 C80.6813413,236.889992 32.8039561,186.687939 41.0845623,136.173896 C49.3651684,85.6598529 112.781005,55.9622688 112.781005,55.9622688 Z" id="Path-10" fill="#D45500"></path>
                          <path d="M69.9728522,58.1274244 C69.9728522,58.1274244 12.6487825,78.8484937 8.61895669,136.485885 C4.58913091,194.123275 38.9064584,218.362761 38.9064584,218.362761 C38.9064584,218.362761 14.278326,177.992175 22.3994184,131.735724 C30.5205109,85.4792721 69.9728522,58.1274244 69.9728522,58.1274244 Z" id="Path-11" fill="#D45500"></path>
                          <path d="M133.57166,68.1063757 C133.57166,68.1063757 112.16618,111.439445 109.692256,151.831985 C107.218332,192.224525 123.515298,235.557589 123.515298,235.557589 C123.515298,235.557589 118.627625,192.75907 121.319104,151.831985 C124.010583,110.904899 133.57166,68.1063757 133.57166,68.1063757 Z" id="Path-12" fill="#D45500"></path>
                          <path d="M215.974395,165.699469 C215.974392,206.038994 201.830538,238.223085 199.253703,239.89854 C196.676867,241.573995 234.566881,225.736808 234.566885,169.28809 C234.56689,112.839373 161.330409,58.5334376 161.330409,58.5334376 C161.330409,58.5334376 215.974397,125.359943 215.974395,165.699469 Z" id="Path-13" fill="#D45500"></path>
                          <path d="M202.807158,54.3433702 C202.807158,54.3433702 262.865755,107.276277 262.865756,156.836529 C262.865757,206.396782 241.520429,232.568816 241.520429,232.568816 C241.520429,232.568816 280.294466,206.551622 283.211311,153.099325 C286.128157,99.6470277 202.807158,54.3433702 202.807158,54.3433702 Z" id="Path-14" fill="#D45500"></path>
                      </g>
                  </g>
              </g>
          </svg>
        </div>
        <div class="columns small-12 large-8 force-right-align">
          <h1 class="header" id="aboutHeader">Details</h1>
          <p class="p-text">Our event will begin in the morning on <b>Saturday, October 28th</b>,<br> and end in the afternoon on <b>Sunday, October 29th.</b></p>
          <br>
          <p class="p-text">Location: <b>George Sherman Union</b>, 2nd Floor in Metcalf Hall at<br> <b>775 Commonwealth Avenue</b>, Boston, MA, 02215.</p>
        </div>
      </div>
    </section>
      
    <section id="schedule" class="section-dark">
      <div class="row">
        <div id="scheduleContainer">
          <div class="columns small-12 medium-6 force-left-margin" id="saturday">
          <h1>Schedule Overview</h1>
          <h2> Saturday </h2>
          <hr>
          <div class="scheduleItem">
            <h2 class="scheduleEvent"><b>9:00am</b> — Check-in & Registration </h2>
          </div>
          <div class="scheduleItem">
            <h2 class="scheduleEvent"><b>11:00am</b> — Opening Ceremony </h2>
          </div>
          <div class="scheduleItem">
            <h2 class="scheduleEvent"><b>Noon</b> — Lunch </h2>
          </div>
          <div class="scheduleItem">
            <h2 class="scheduleEvent"><b>1:00pm</b> — Team Formation Event </h2>
          </div>
          <div class="scheduleItem">
            <h2 class="scheduleEvent"><b>1:30pm</b> — Hacking Begins </h2>
          </div>
          <div class="scheduleItem">
            <h2 class="scheduleEvent"><b>7:00pm</b> — Dinner </h2>
          </div>
        </div>
          <div class="columns small-12 medium-6 force-left-margin" id="sunday">
            <h1> &nbsp; </h1>
            <h2> Sunday </h2>
            <hr>
            <div class="scheduleItem">
              <h2 class="scheduleEvent"><b>Midnight</b> — Midnight Snack </h2>
            </div>
            <div class="scheduleItem">
              <h2 class="scheduleEvent"><b>7:00am</b> — Breakfast begins </h2>
            </div>
            <div class="scheduleItem">
              <h2 class="scheduleEvent"><b>10:00am</b> — Submissions due on Devpost* </h2>
              <h2 class="scheduleEventTime">  </h2>
            </div>
            <div class="scheduleItem">
              <h2 class="scheduleEvent"><b>11:00am</b> — Lunch </h2>
            </div>
            <div class="scheduleItem">
              <h2 class="scheduleEvent"><b>12:00pm</b> — Judging Expo </h2>
            </div>
            <div class="scheduleItem">
              <h2 class="scheduleEvent"><b>2:00pm</b> — Closing Ceremony</h2>
            </div>
            <div class="scheduleItem">
              <h2 class="scheduleEvent"><b>3:00pm</b> — Go home and sleep </h2>
            </div>
            <br>
            <p>* You may continue working on your project until the expo begins</p>
          </div>
        </div>
      </div>
    </section>
    </section>
    <section id="faq" class="section-light">
      <div id="faqContainer">
        <h1 class="header text-center" id="faqHeader"> Frequently Asked Questions </h1>
        <div class="row">
          <div class="columns large-4 small-6">
              <h3 class="">Where is it?</h3>
              <p class="text">George Sherman Union, 2nd Floor in Metcalf Hall at 775 Commonwealth Avenue, Boston, MA, 02215.</p>
          </div>
          <div class="columns large-4 small-6">
              <h3 class="">Who's coming?</h3>
              <p class="text">We expect 400 to 450 hackers from all over North America to attend BostonHacks.</p>
          </div>
          <div class="columns large-4 small-6">
              <h3 class="">Who can attend?</h3>
              <p class="text">All students are welcome. Unfortunately, we will not be able to accommodate students under 18 this year (unless you are a BU student).</p>
          </div>
          <div class="columns large-4 small-6">
              <h3 class="">Do I need experience?</h3>
              <p class="text">No experience necessary. We will have plenty of mentors and resources, along with several workshops targeted for beginners. Come learn and experience your first hackathon at BostonHacks!</p>
          </div>
          <div class="columns large-4 small-6">
              <h3 class="">Are there any rules?</h3>
              <p class="text">We want to ensure a positive experience for all participants. We encourage you to read the 
              <a class="text-orange" href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf">Code of Conduct</a>.</p>
          </div>
          <div class="columns large-4 small-6">
              <h3 class="">What should I bring?</h3>
              <p class="text">You should bring your laptop, phone, chargers, toiletries, and optionally a sleeping bag. All food and other accommodations will be taken care of.</p>
          </div>
          <div class="columns large-4 small-6">
              <h3 class="">Can we form teams?</h3>
              <p class="text">Of course you can! We encourage people to work in teams of up to 5 people. You may opt-in to team formation during registration which will match you with an ideal team. You can work alone, but it won't be the same.</p>
          </div>
          <div class="columns large-4 small-6">
              <h3 class="">Does it cost anything?</h3>
              <p class="text">BostonHacks is 100% free. You don't have to spend a dime!</p>
          </div>
          <div class="columns large-4 small-6 ">
              <h3 class="">Will there be travel reimbursements?</h3>
              <p class="text">We're handling travel reimbursements on a case-by-case basis. We're also working on potentially providing busses to regions like New York and Canada.</p>
          </div>
        </div>
      </div>
    </section>
<!--     <div class="faqTransitionRight" style="border-width: 0px 0px 100px 1280px;"></div> -->

    <section id="sponsor" class="section-dark">
      <div class="row">
        <div class="columns small-12 force-left-margin">
          <h1 class="text-center header">Sponsor</h1>
          <p class="p-text">BostonHacks provides an environment for companies to interact with students who will become future customers, leaders, and innovators. As a medium-sized hackathon, you can reach a wide audience while still interacting closely with hackers. Students want to interact with your product and APIs, receive mentorship from your staff, and hear about opportunities available at your company.</p>
          <p class="p-text">Check out our <a href="/BostonHacksFall2017Sponsor.pdf">Sponsor Document</a> or email us at <span class="email-spam-hide"> contact[at]bostonhacks.io</span> to hear more about how you can get involved. We're always available to get on a call.</p>
        </div>
        <br>
        <!--Until Andrew gets me the logos
<h1 class="text-center header">Our Sponsors</h1>
        <div class="large-6 columns">
          <a href="https://www.optum.com/">
            <img src="./sponsors/optum_2x.png" class="sponsor-img">
          </a>
        </div>
        <div class="large-6 columns">
          <a href="https://www.libertymutual.com/">
            <img src="./sponsors/libertymutual-logo.png" class="sponsor-img">
          </a>
        </div>
        <div class="large-6 columns">
          <a href="https://www.redhat.com">
            <img src="./sponsors/redhat.png" class="sponsor-img">
          </a>
        </div>
        <div class="large-6 columns">
          <a href="https://www.twilio.com">
            <img src="./sponsors/twilio-logo.png" class="sponsor-img">
          </a>
        </div>
        <div class="large-12 columns">
          <a href="https://www.itg.com/">
            <img src="./sponsors/itg1.png" style="height: 120px;" class="sponsor-img">
          </a>
        </div>
-->
      </div>
    </section>

    <section class="text-center large-12 columns" id="contact">
      <h1 class="header" id="contactHeader">Contact Us</h1>
      <h3> Send us a message at: </h3>
      <h3 class="email-spam-hide"> contact[at]bostonhacks.io </h3>
    </section>

<footer>
  <script type="text/javascript" src="./js/vendor/jquery.js"></script>
  <script type="text/javascript" src="./js/vendor/foundation.js"></script>
  <script type="text/javascript" src="./js/app.js"></script>
  <script type="text/javascript" src="./js/setTransitionDivWidths.js"></script>
  <script type="text/javascript" src="./js/vendor/jquery.scrollTo.min.js"></script>
  <script type="text/javascript" src="./js/nav-scroll.js"></script>
  <script type="text/javascript" src="./js/hamburger.js"></script>
  <script type="text/javascript" src="./js/email-hide.js"></script>
</footer>

</body></html>
