<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
<head>
    <title>BostonHacks - April 29-30</title>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/navigation.css">
    <link rel="stylesheet" href="css/hamburgers.css">
    <link rel="stylesheet" href="css/mobile.css">
</head>
<body>
    <a id="mlh-trust-badge" href="https://mlh.io/seasons/na-2017/events?utm_source=na-2017&amp;utm_medium=TrustBadge&amp;utm_campaign=na-2017&amp;utm_content=gray" target="_blank"><img src="https://s3.amazonaws.com/logged-assets/trust-badge/2017/gray.svg" alt="Major League Hacking 2017 Hackathon Season" style="width:100%"></a>

    <div id="navContainer">
        <button class="hamburger hamburger--slider" id="nav--burger" type="button">
            <span class="hamburger-box">
                <span class="hamburger-inner"></span>
            </span>
        </button>

        <div class="navLinks">
            <a href="#home" class="navLink">
                <h3>Home</h3>
            </a>
            <div class="nav-separator"></div>
            
            <a href="#schedule" class="navLink">
                <h3>Schedule</h3>
            </a>
            <div class="nav-separator"></div>
            
            <a href="#faqContainer" class="navLink">
                <h3>FAQ</h3>
            </a>
            <div class="nav-separator"></div>

            <a href="#sponsors" class="navLink">
                <h3>Sponsors</h3>
            </a>
            <div class="nav-separator"></div>

            <a href="#contact" class="navLink">
                <h3>Contact us</h3>
            </a>
        </div>
    </div>

    <!-- Need this br -->
    <br>

    <section id="home">      
        <div class="homeContainer">
        
            <img src="img/terrierLogo.png" id="terrierLogo">

            <h1>Boston<b>Hacks</b> Spring 2017</h1>
            <h2>April 29th - 30th<br>Boston, MA</h2>
            <div id="homeButtonsContainer">
                <!-- <div id="buttonWrapper"> -->
                    <a href="/login" class="button homeButtons" id="attendButton">Attend</a>
                    <a href="/sponsordoc.pdf" class="button homeButtons" id="sponsorButton">Sponsor</a>
                <!-- </div> -->
            </div>
        </div>
        
        <!-- Buildings SVG -->
        <% include ../partials/buildings %>

    </section>
    <section id="schedule">
        <div id="scheduleContainer">
          <h1 class="text-center"> <b>Schedule</b> </h1>
          <div id="saturday">
            <h2> Saturday </h2>
            <hr>
            <div class="scheduleItem">
              <h2 class="scheduleEvent"> Check-in/Registration </h2>
              <h2 class="scheduleEventTime"> 10:00am </h2>
            </div>
            <div class="scheduleItem">
              <h2 class="scheduleEvent"> Opening Ceremony </h2>
              <h2 class="scheduleEventTime"> 12:00pm </h2>
            </div>
            <div class="scheduleItem">
              <h2 class="scheduleEvent"> Team Formation Event </h2>
              <h2 class="scheduleEventTime"> 1:00pm </h2>
            </div>
            <div class="scheduleItem">
              <h2 class="scheduleEvent"> Lunch </h2>
              <h2 class="scheduleEventTime"> 1:00pm </h2>
            </div>
            <div class="scheduleItem">
              <h2 class="scheduleEvent"> Hacking Begins </h2>
              <h2 class="scheduleEventTime"> 1:30pm </h2>
            </div>
            <div class="scheduleItem">
              <h2 class="scheduleEvent"> Dinner </h2>
              <h2 class="scheduleEventTime"> 6:30pm </h2>
            </div>
            <div class="scheduleItem">
              <h2 class="scheduleEvent"> Rocket League Tourney </h2>
              <h2 class="scheduleEventTime"> 11:30pm </h2>
            </div>
          </div>
          <div id="sunday">
            <h2> Sunday </h2>
            <hr>
            <div class="scheduleItem">
              <h2 class="scheduleEvent"> Midnight Snack </h2>
              <h2 class="scheduleEventTime"> 12:00am </h2>
            </div>
            <div class="scheduleItem">
              <h2 class="scheduleEvent"> Pinatas </h2>
              <h2 class="scheduleEventTime"> 2:00am </h2>
            </div>
            <div class="scheduleItem">
              <h2 class="scheduleEvent"> Breakfast </h2>
              <h2 class="scheduleEventTime"> 7:00am </h2>
            </div>
            <div class="scheduleItem">
              <h2 class="scheduleEvent"> Submissions Due </h2>
              <h2 class="scheduleEventTime"> 10:00am </h2>
            </div>
            <div class="scheduleItem">
              <h2 class="scheduleEvent"> Lunch </h2>
              <h2 class="scheduleEventTime"> 11:00am </h2>
            </div>
            <div class="scheduleItem">
              <h2 class="scheduleEvent"> Judging Expo </h2>
              <h2 class="scheduleEventTime"> 12:00pm </h2>
            </div>
            <div class="scheduleItem">
              <h2 class="scheduleEvent"> Closing Ceremony </h2>
              <h2 class="scheduleEventTime"> 1:30pm </h2>
            </div>
            <div class="scheduleItem">
              <h2 class="scheduleEvent"> Go home and sleep </h2>
              <h2 class="scheduleEventTime"> 2:30pm </h2>
            </div>
            </div>
        </div>
    </section>

    <section id="faq">
        <div class="faqTransitionLeft"></div>
        <div id="faqContainer">
            <h1 class="header text-center" id="faqHeader"> Frequently Asked Questions: </h1>
            <div class="row">
                <div class="columns large-4 small-12">
                    <h3 class="black">Where is it?</h3>
                    <div class="text">George Sherman Union, 2nd Floor in Metcalf Hall at 775 Commonwealth Avenue, Boston, MA, 02215.</div>
                </div>
                <div class="columns large-4 small-12">
                    <h3 class="black">Who's coming?</h3>
                    <div class="text">We expect 400 hackers from all around the world to attend BostonHacks.</div>
                </div>
                <div class="columns large-4 small-12">
                    <h3 class="black">Who can attend?</h3>
                    <div class="text">All students are welcome. Unfortunately, we will not be able to accommodate students under 18 this year (unless you are a BU student).</div>
                </div>
                <div class="columns large-4 small-12">
                    <h3 class="black">Do I need experience?</h3>
                    <div class="text">No experience necessary. We will have plenty of mentors and resources. Come, learn, and experience your first hackathon at BostonHacks!</div>
                </div>
                <div class="columns large-4 small-12">
                    <h3 class="black">Are there any rules?</h3>
                    <div class="text">We want to ensure a positive experience for every participant. We encourage you to read our 
                    <a href="http://static.mlh.io/docs/mlh-code-of-conduct.pdf">Code of Conduct</a>.</div>
                </div>
                <div class="columns large-4 small-12">
                    <h3 class="black">What should I bring?</h3>
                    <div class="text">You should bring your laptop, phone, chargers, and sleeping bag. All food and other accommodations will be taken care of.</div>
                </div>
                <div class="columns large-4 small-12">
                    <h3 class="black">Can we form teams?</h3>
                    <div class="text">Of course you can! We encourage people to work in teams of up to 5 people. You can work alone, but it won't be the same. There will be plenty of team building events on site and online.</div>
                </div>
                <div class="columns large-4 small-12">
                    <h3 class="black">Does it cost anything?</h3>
                    <div class="text">BostonHacks is 100% free. You won't have to spend a dime! Everything will be absolutely free.</div>
                </div>
                <div class="columns large-4 small-12">
                    <h3 class="black">Will there be travel reimbursements?</h3>
                    <div class="text">We're working on providing travel reimbursements, and we will provide the form later.</div>
                </div>
            </div>
        </div>
    </section>

    <div class="faqTransitionRight"></div>

    <section class="text-center" id="sponsors">
        <h1 class="header">Sponsors</h1>
        <div class='large-12 columns'>
            <a href="https://www.libertymutual.com/">
                <img src="img/libertymutual-logo.png" class="sponsor-img">
            </a>
        </div>
        <br>
        <div class='large-6 columns'>
            <a href="https://www.bloomberg.com/">
                <img src="img/bloomberg-logo.png" class="sponsor-img">
            </a>
        </div>
        <div class='large-6 columns'>
            <a href="https://www.twilio.com/">
                <img src="img/twilio-logo.png" class="sponsor-img">
            </a>
        </div>
    </section>

    <section class="text-center large-12 columns" id="contact">
        <h1 class="header" id="contactHeader">Contact Us</h1>
        <h3> Feel free to contact us at: </h3>
        <br>
        <h4> contact [at] bostonhacks.io </h4>
    </section>
</body>

<footer>
    <% include ../partials/footer %>
    <script type="text/javascript" src="js/setTransitionDivWidths.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.scrollto/2.1.2/jquery.scrollTo.min.js"></script>
    <script type="text/javascript" src="js/nav-scroll.js"></script>
    <script type="text/javascript" src="js/hamburger.js"></script>
</footer>

</body>
</html>
