<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>BostonHacks - March 3rd</title>
    
    <!-- Stylesheets -->
    <link rel="stylesheet" href="css/foundation.css">
    <link rel="stylesheet" href="css/app.css">
    <link rel="stylesheet" href="css/login.css">

    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300" rel="stylesheet">
  <body>
    <section>
      <div id="loginContainer">
        <img src="img/terrierLogo.png" id="terrierLogo">

        <div id="inputContainer">
          <h2> Email: </h2>
          <h3> you@bostonhacks.io </h3>
          <h2> Password: </h2>
          <h3> >= 6 characters </h3>
        </div>

        <a href="#" class="button loginButtons" id="loginButton">Login</a>
        <a href="#" class="button loginButtons" id="registerButton">Register</a>

        <h3 id="forgotPassword">Forgot Password?</h3>
      </div>
    </section>
  </body>
    <!-- Javascript -->
    <script src="js/vendor/jquery.js"></script>
    <script src="js/vendor/what-input.js"></script>
    <script src="js/vendor/foundation.js"></script>
    <script src="js/app.js"></script>
</html>
