<!doctype html>
<html>
<head>
    <title>Login - BostonHacks - March 3rd</title>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/login.css">
</head>
<body>
    <section>
        <% include ../partials/clouds %>
        <div id="loginContainer" class="authContainer">
            <a href="/"><img src="img/terrierLogo.png" id="terrierLogo"></a>

            <% if (message) { %>
                <h3 class="serverMessageError"> <%= message %> </h3>
            <% } %>

            <div id="inputContainer">
                <div class="form-group">
                    <h2> Email: </h2>
                    <input type="email" class="textForm" name="email" id="emailInput" placeholder="you@bostonhacks.io">
                </div>
                <div class="form-group">
                    <h2> Password: </h2>
                    <input type="password" class="textForm" name="password" id="passwordInput" placeholder=">= 9 characters">
                </div>
                <br>
                <button onclick="login()" class="button loginButtons" id="loginButton">Login</button>
                <button onclick="signup()" class="button loginButtons" id="registerButton">Register</button>
            </div>

            <div id="forgotPasswordLink" class="authLink">
                <a href="/forgot-password"><h3 class="authLinkText">Forgot Password?</h3></a>
            </div>
        </div>
    </body>

<footer>
    <% include ../partials/footer %>
    <script src="js/login.js"></script>

    <!-- Populate email field if they failed.. gatta be nice :) -->
    <% if (email) { %>
        <script type="text/javascript">
            document.getElementById('emailInput').value = "<%= email %>";
        </script>
    <% } %>

</footer>
</html>




