<!doctype html>
<html>
<head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/registration.css">
</head>
<body class="dark-background">
    <% include ../partials/profile-nav %>

    <div class="account-extras-container">
        <div class="large-12 columns">
            <h1> No Longer Attending </h1>
            <br>
            <form action="/not-attending-confirmation" method="POST">
                <div class="question">
                    <h3> Reason that you can no longer attend? (Optional) </h3>
                    <textarea name="notAttendingReason" rows="4" cols="50"></textarea>
                </div>
                <div class="question">
                    <input type="checkbox" name="notAttending" value="true" required> I can no longer attend Bostonhacks<br>
                </div>
                <input type="submit" value="Submit" class="submit button">
                <a href="/home" class="button button-cancel"> Cancel </a>
            </form>
        </div>
    </div>

    <% include ../partials/profile-footer %>
</body>

<script src="https://use.fontawesome.com/fae771462f.js"></script>
</html>