<!doctype html>
<html>
<head>
    <% include ../partials/head %>
</head>
<body>
<div class="container">
    <div class="page-header text-center">
        <h1> Hi <%= user.first_name %>!</h1>
        <h2><span class="fa fa-anchor"></span> Profile Page</h2>
        <a href="/logout" class="btn btn-default btn-sm">Logout</a>
    </div>

    <div class="row">
        <h3>Local</h3>
        <div>
            <h4>
                id: <%= user._id %> <br>
                email: <%= user.local.email %> <br>
                registered: <%= user.local.registered %> <br>
            </h4>

        </div>
        <h3>To be added</h3>
        <h4>
            Application Status <br>
            Change profile information <br>
            "I can no longer attend" <br>
            Join Social Media (Slack as well.. maybe make Slack it's own separate thing) <br>
            We could make icons of social media.. maybe <br>
        </h4>
    </div>

</div>
</body>
</html>