<!doctype html>
<html>
<head>
    <title>Profile - BostonHacks - March 3rd</title>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/profile.css">

</head>
<body>
    <% include ../partials/profile-nav %>

    <div class="container">

        <!-- I'd like to clean this up later -->
        <% if (notAttendingMessageSuccess.length > 0) { %>
            <h3 class="serverMessageSuccess"> <%= notAttendingMessageSuccess %> </h3>
        <% } %>

        <% if (notAttendingMessageError.length > 0) { %>
            <h3 class="serverMessageError"> <%= notAttendingMessageError %> </h3>
        <% } %>

        <div class="large-4 columns profile-info">
            <h1 class="profile-info-header"> Your info: </h1>
            <h3> Email: </h3>
            <h3> <%= email %> </h3>
            <h3> Status: </h3>
            <h3> <%= status %> </h3>
        </div>
        <div class="large-8 columns">
            <h1 class="profile-app-header"> Actions: </h1>
            <ul>
                <li><a href="#">Join Our Slack!</a></li>
                <!-- <li><a href="/change-account-information">Change Account Information</a></li> -->
                <% if (status != "Not Attending") { %>
                    <li><a href=/not-attending-confirmation>"I can no longer attend"</a></li>
                <% } %>

                 </ul>
        </div>
    </div>

    <% include ../partials/profile-footer %>
</body>

<script src="https://use.fontawesome.com/fae771462f.js"></script>
</html>