<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/registration.css">
    <script src="http://code.jquery.com/jquery.js"></script>
  </head>
  <body>
    <div class="container registration-body">
      <% include ../partials/profile-nav %>
      <div class="page-header text-center">
        <div class="registration-heading">
          Fill this out and we will try to find the best fit for your team.
        </div>
      </div>
      <div class="questions-container">
        <div class="registration-body-form">
          <div class="registration-body-form-new-teammates">
            <div class="registration-body-form-question-section new-teammates">
              
              <div class="registration-form-new-teammates-response row">
                <div class="q1-new-teammates small-12 question columns">How many more people are you looking for?</div>
                <input class="q1-new-teammates-i1 new-teammates-input" id="q1-new-teammates-i1" type="number">
              </div>
              <div class="registration-form-new-teammates-response row">
                <div class="q2-new-teammates small-12 question columns">What is the name of your team?</div>
                <input class="new-teammates-input" id="q2-new-teammates-i1" type="text">
              </div>
              <div class="registration-form-new-teammates-response row">
                <div class="q3-new-teammates small-12 question columns">What is the focus of your team's project?</div>
                <input class = "new-teammates-input" id="q3-new-teammates-i1" type="text">
              </div>
              <div class="registration-form-new-teammates-response row">
                <div class="q4-new-teammates small-12 question columns">What technologies do you plan to use for your project?</div>
                <input class = "new-teammates-input" id="q4-new-teammates-i1 new-teammates-input" type="text">
              </div>
              <div class="registration-form-new-teammates-response row">
                <div class="q5-new-teammates small-12 question columns">Who are you looking for?</div>
                <div class="small-12 columns new-teammates-role-options">
                  <input class="q5-new-teammates-i" id="q5-new-teammates-i1" type="checkbox"><label for="q5-new-teammates-i1">Front-end Engineer</label><br>
                  <input class="q5-new-teammates-i" id="q5-new-teammates-i2" type="checkbox"><label for="q5-new-teammates-i2">Back-end Engineer</label><br>
                  <input class="q5-new-teammates-i" id="q5-new-teammates-i3" type="checkbox"><label for="q5-new-teammates-i3">Data Scientist</label><br>
                  <input class="q5-new-teammates-i" id="q5-new-teammates-i4" type="checkbox"><label for="q5-new-teammates-i4">Designer</label><br>
                  <input class="q5-new-teammates-i" id="q5-new-teammates-i5" type="checkbox"><label for="q5-new-teammates-i5">iOS</label><br>
                  <input class="q5-new-teammates-i" id="q5-new-teammates-i6" type="checkbox"><label for="q5-new-teammates-i6">Android</label><br>
                </div>
                <label>
                    Other:
                    <input class="new-teammates-input" class="q5-new-teammates-i" id="q5-new-teammates-i7" type="text">
                  </label>
              </div>
              <div class="registration-form-new-teammates-response row">
                <div class="q6-new-teammates small-12 question columns">How experienced is your team?</div>
                <input class="new-teammates-input" id="q6-new-teammates-i1" type="text">
              </div>
            </div>
          </div>
          <div class="registration-button">
            <a href="#" id="findNewTeammatesButton" class="button">Finish</a>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>