<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/registration.css">
    <script src="https://code.jquery.com/jquery-3.2.1.min.js" integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container registration-body">
      <% include ../partials/profile-nav %>
    </div>
    <div class="questions-container">
      <div class="registration-body-form">
        <div class="registration-body-form-team">
          <div class="row">
            <div class="large-12 columns">
              <span></span>
            </div>
            <div class="registration-body-form-question-section list-of-projects">
              Thanks for the interest, we are working on it!
            </div>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>