<!doctype html>
<html>
  <head>
    <% include ../partials/head %>
    <link rel="stylesheet" href="css/profile.css">
    <link rel="stylesheet" href="css/registration.css">
    <script src="http://code.jquery.com/jquery.js"></script>
  </head>
  <body>
    <div class="container registration-body">
      <% include ../partials/profile-nav %>
    </div>
    <div class="page-header text-center">
      <span class="registration-heading">
        <h2>Create a New Team</h1>
      </span>
    </div>
    <div class="questions-container">
      <span class="registration-heading">
        <h3> Fill out the following to add your team.</h2>
      </span>
      <div class="registration-body-form-">
        <div class="registration-body-form-new-team">
          <div class="registration-body-form-question-section new-team">
            
            <div class="registration-form-new-team-response row">
              <span class="q1-new-team small-12 question columns">What is the name of your team?</span>
              <input id="q1-new-team-i1" type="text">
            </div>
            <div class="registration-form-new-team-response row">
              <span class="q2-new-team small-12 question columns">Describe your idea</span>
              <textarea id="q2-new-team-i1"></textarea>
            </div>
            <div class="registration-form-new-team-response row">
              <span class="q3-new-team small-12 question columns">Who are you looking for?</span>
              <div class="small-12 columns new-team-role-options">
                <input class="q3-new-team-i" id="q3-new-team-i1" type="checkbox"><label for="q3-new-team-i1">Front-end Engineer</label><br>
                <input class="q3-new-team-i" id="q3-new-team-i2" type="checkbox"><label for="q3-new-team-i2">Back-end Engineer</label><br>
                <input class="q3-new-team-i" id="q3-new-team-i3" type="checkbox"><label for="q3-new-team-i3">Data Scientist</label><br>
                <input class="q3-new-team-i" id="q3-new-team-i4" type="checkbox"><label for="q3-new-team-i4">Designer</label><br>
                <input class="q3-new-team-i" id="q3-new-team-i5" type="checkbox"><label for="q3-new-team-i5">iOS</label><br>
                <input class="q3-new-team-i" id="q3-new-team-i6" type="checkbox"><label for="q3-new-team-i6">Android</label><br>
              </div>
              <div class="small-12 columns">
                <label>
                  Other:
                  <input class="q3-new-team-i" id="q3-new-team-i7" type="text">
                </label>
              </div>
            </div>
            <div class="registration-form-new-team-response row">
              <span class="q4-new-team small-12 question columns">What technologies do you plan to use for your project?</span>
              <textarea id="q4-new-team-i1"></textarea>
            </div>
            <div class="registration-body-form-question-section interest-areas">
              <div class="registration-form-new-team-response row">
                <span class="q5-new-team small-12 question columns">If relevant, select your project's theme(s)?</span>
                <div class="small-6 areas-options columns">
                  <input class="q5-new-team-i" id="q5-new-team-i1" type="checkbox"><label for="q5-new-team-i1">Finance</label><br>
                  <input class="q5-new-team-i" id="q5-new-team-i2" type="checkbox"><label for="q5-new-team-i2">Politics</label><br>
                  <input class="q5-new-team-i" id="q5-new-team-i3" type="checkbox"><label for="q5-new-team-i3">Health</label><br>
                  <input class="q5-new-team-i" id="q5-new-team-i4" type="checkbox"><label for="q5-new-team-i4">Travel</label><br>
                  <input class="q5-new-team-i" id="q5-new-team-i5" type="checkbox"><label for="q5-new-team-i5">Entertainment</label><br>
                  <input class="q5-new-team-i" id="q5-new-team-i6" type="checkbox"><label for="q5-new-team-i6">Music</label>
                </div>
                <div class="small-6 areas-options columns">
                  <input class="q5-new-team-i" id="q5-new-team-i7" type="checkbox"><label for="q5-new-team-i7">Economics</label><br>
                  <input class="q5-new-team-i" id="q5-new-team-i8" type="checkbox"><label for="q5-new-team-i8">Social Issues</label><br>
                  <input class="q5-new-team-i" id="q5-new-team-i9" type="checkbox"><label for="q5-new-team-i9">Gaming</label><br>
                  <input class="q5-new-team-i" id="q5-new-team-i10" type="checkbox"><label for="q5-new-team-i10">Fashion</label><br>
                  <input class="q5-new-team-i" id="q5-new-team-i11" type="checkbox"><label for="q5-new-team-i11">Sports</label><br>
                  <input class="q5-new-team-i" id="q5-new-team-i12" type="checkbox"><label for="q5-new-team-i12">Arts</label><br>
                </div>
                <div class="small-12 columns">
                  <label>
                    Other:
                    <input class="q5-new-team-i" id="q1-new-team-i10" type="text">
                  </label>
                </div>
              </div>
            </div>
            
            <div class="registration-form-new-team-response row">
              <span class="q6-new-team small-12 question columns">How much experience would your team have?</span>
              <textarea id="q6-new-team-i1"></textarea>
            </div>
            
          </div>
        </div>
        <div class="">
          <a href="#" id="findNewTeammatesButton" class="button">Finish</a>
        </div>
      </div>
    </div>
  </body>
</html>